.App {
  text-align: center;
}

.answers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  padding: 10px 0;
}
.answers button{
  margin: 5px auto;
  width: 60%;
}